app:
#  apiport: 8081
#  loglevel: 4
acme:
#  node: ""
#  bridgeadi: ""
#  keybook: ""
#  privatekey: ""
#  tokens:
#  - "acme"
#  - "adi1.acme/test"
evm:
#  node: ""
#  chainid: 1
#  infuraprojectid: ""
#  infuraprojectsecret: ""
#  safeaddress: ""
#  bridgeaddress: ""
#  privatekey: ""
#  maxgasfee: 30