app:
#  apiport: 8081
#  loglevel: 4
acme:
#  node: ""
#  bridgeadi: ""
#  keybook: ""
#  privatekey: ""
evm:
#  node: ""
#  chainid: 1
#  infuraprojectid: ""
#  infuraprojectsecret: ""
#  safeaddress: ""
#  bridgeaddress: ""
#  privatekey: ""
#  maxgasfee: 30
# tokens:
# - accTokenAddress: "ACME"
#   evmTokenAddress: ""
# - accTokenAddress: "adi1.acme/TEST"
#   evmTokenAddress: ""